<section class="bg-gray-100">
    <div class="max-w-7xl mx-auto px-8 py-16">
        <div>
            <h1 class="text-3xl font-semibold">Hvað hefur þú í huga?</h1>

            <p class="text-xl font-medium text-black/80 mt-4">
                Byrjaðu samtal við okkur til að hjálpa okkur að skilja þitt verkefni og þínar þarfir. Við handleiðum þig
                restina af ferlinu.
            </p>

            <a
                href="/hafa-samband"
                class="bg-black text-gray-100 px-4 py-3 inline-block mt-8 font-medium hover:bg-black/80 transition duration-300"
            >
                Hafðu samband
            </a>
        </div>
    </div>
</section>
