DATABASE_URL="postgres://postgres:postgres@postgres:5432/postgres?schema=public"
LANGUAGE_COOKIE_NAME="at__framlog_is__language"
VERIFONE_JS_URL="https://cst.jsclient.vficloud.net/verifone.js"
SONGBIRD_JS_URL="https://songbirdstag.cardinalcommerce.com/edge/v1/songbird.js"
VERIFONE_API_URL="https://cst.test-gsc.vfims.com"